@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Alfa Slab One', cursive;
  background-color: whitesmoke;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23130031' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
h1 {
  letter-spacing: 3px;
  font-size: 40px;
  text-align: center;
  color: rgb(70, 2, 85);
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.794);
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_container {
  margin: 10px 30%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}
.img_container img {
  width: 100%;
  margin: 5px;
}
/* Media Query  */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .img_container {
    margin: 10px;
  }
}
